@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-popup {
    animation: fadein 0.3s;
}

.alert {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadein {
    0% {
        transform: translate(+0%, +40%);
        opacity: 0.4;
    }
    100% {
        transform: translate(+0%, +0%);
        opacity: 1;
    }
}
